<footer>
      <div class="container">
        <div class="brand">
          <h3>🌙 Unposted</h3>
          <p class="tagline">Where hidden words find their voice.</p>
        </div>

        <div class="links">
          <a href="https://instagram.com/unpostedtn" target="_blank" rel="noopener noreferrer">
            Instagram
          </a>
            <a routerLink="/about" style="cursor: pointer;">About</a>
        </div>
      </div>

      <div class="bottom">
        <p>© 2025 Unposted. All rights reserved.</p>
      </div>
    </footer>